.book-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    button {
        margin: 0.5em;

    }

}


li {
    /* padding: 2em; */
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    /* height: 450px; */
    box-sizing: border-box;
    background-color: rgba(131, 173, 173, 0.678);
    border: 1px solid rgba(116, 111, 111, 0.323);
    border-radius: 2em;
    margin: 1em;
    padding: 1em;
    
}


