.book-list {

    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


li {
    /* padding: 2em; */
    align-items: center;
    display: block;
    width: 400px;
    height: 400px;
    /* margin: 1em; */

}

img{
    width: 200px;
    place-self: center;
    margin: 1em;
}

.button-list-container{
    /* margin: 1em; */
}